.carré
{
	width:400px;
	height:400px;
	background:#dff2ff;
	position: absolute;
	left: 37%;
	top:45%;

}


#cgu
{
	padding: 60px 0;
	text-align: center;
}

#cgu h3
{
	width: 400px;
	text-transform: uppercase;
	margin: 0 auto 20px auto; /* en bas 20px, à droite et à gauche auto*/
	border-bottom: 1px solid #02b8dd;
	padding-bottom: 20px;
}


#reglement
{
	text-align: center;

}

.rectangle
{
	width:600px;
	height:500px;
	border:1px solid #000;
	position: absolute;
	left: 29%;
	top:38%;

}

.button1
{
	position: absolute;
	left: 10%;
	top:1%;

}


.button2
{
	position: absolute;
	left: 21%;
	top:90%;
}



.button3
{
	position: absolute;
	left: 63%;
	top:90%;

}

.cadre
{
	margin-bottom: 10%;
}