#login-box
{	

	margin: 0 38%;
	width: 50%;
	padding: 30px 0 2px 0;

	
}



#login-box h2{

	float: left;
	font-size: 40px;
	border-bottom: 6px solid #17e2cd;
	padding: 13px 0;
}


.textbox{
	width: 50%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0; /* mettre 8px 10% */
	border-bottom: 1px solid #17e2cd;
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	color: #444;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.btn{
	width: 50%;
	background: none;
	border: 2px solid #17e2cd;
	color: #444;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0 0 0; /* mettre 10% */
}

.btn:hover{
	background: #17e2cd;
}

.test
{
	margin-bottom: 20px;
	margin-left: 42%;
}