.faq
{
	width :700px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: rgb(173,179,197);
	border : 1px  rgb(48,82,231) solid;
	border-radius: 10px;
	padding-left : 20px;


}
.question
{
	color : red;
	font-size : 1.2em;
	font-family: "Calibri";
}
.réponse
{
	color : green;
	font-size : 1.2em;
	font-family: "Calibri";
}
